In [1]:
import pyspark as ps    # for the pyspark suite
from pyspark.sql.types import *
from datetime import datetime
import json

spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("sparkSQL exercise") \
            .getOrCreate()

sc = spark.sparkContext

In [2]:
def apply_json(input_lst):
    try:
        return json.loads(input_lst)#['animals'][0]                                               
    except:
        return None #None None None None None None None

In [3]:
# data_filepath = '../data/json_dump/output_4994.json'
# data_filepath = '../src/big_json_subset_copy.json'
# data_filepath = '../src/big_json_201MB.json'
data_filepath = '../src/big_json_v2.json'


data = sc.textFile(data_filepath).map(apply_json) #reads in the json file

In [4]:
print(data)
#create a pipeline to mash dataframes

# df_temp = spark.read.json(data_filepath, multiLine = True)

PythonRDD[2] at RDD at PythonRDD.scala:53

In [5]:
#remove outer dictionary from every file

In [6]:
df = spark.read.json(data_filepath, multiLine = True)

In [7]:
df.count()

1400

In [8]:
df.show(20)

+--------------------+-----+--------------------+--------------------+----+--------------------+--------------------+--------------------+--------+--------------------+------+--------+---------------+----------------------+---------------+--------------------+---------------------+--------------------+------+-------+-------+--------------------+----+----+--------------------+------+
|              _links|  age|          attributes|              breeds|coat|              colors|             contact|         description|distance|         environment|gender|      id|           name|organization_animal_id|organization_id|              photos|primary_photo_cropped|        published_at|  size|species| status|   status_changed_at|tags|type|                 url|videos|
+--------------------+-----+--------------------+--------------------+----+--------------------+--------------------+--------------------+--------+--------------------+------+--------+---------------+----------------------+---------------+--------------------+---------------------+--------------------+------+-------+-------+--------------------+----+----+--------------------+------+
|[[/v2/organizatio...|Adult|[, true, true, tr...|[true, Chihuahua,...|null|                [,,]|[[P.O. Box 372283...|Dexter is a cute ...|    null|  [true, true, true]|  Male|48734452|         Dexter|  7644127-DexterJG0...|         FL1178|                  []|                 null|2020-08-10T03:39:...| Small|    Dog|adopted|2020-08-10T03:39:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, false, fa...|[false, Tabby,, f...|null|                [,,]|[[,, Brooklyn, US...|                null|    null|                [,,]|  Male|48734448|         Purple|      15910199-20-0127|         NY1424|                  []|                 null|2020-08-10T03:38:...|Medium|    Cat|adopted|2020-08-10T03:38:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, false, fa...|[false, Domestic ...|null|                [,,]|[[,, Brooklyn, US...|                null|    null|                [,,]|Female|48734449|          Green|      15910130-20-0122|         NY1424|                  []|                 null|2020-08-10T03:38:...|Medium|    Cat|adopted|2020-08-10T03:38:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[, true, false, t...|[false, Great Dan...|null|                [,,]|[[PO Box 27061,, ...|You can fill out ...|    null|[false, true, false]|Female|48734431|         Dublin|      15722562-D200016|          AZ528|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:23:...|Medium|    Dog|adopted|2020-08-10T03:23:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[false, false, tr...|[true, Domestic S...|null|                [,,]|[[P.O. Box 72401,...|HUBBLE is a super...|    null|                [,,]|  Male|48734430|         Hubble|   15813761-2006-C0396|          OR251|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:22:...|Medium|    Cat|adopted|2020-08-10T03:22:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, true, fal...|[true, Domestic S...|null|                [,,]|[[,, Phoenix, US,...|Hi. I&amp;#39;m M...|    null|  [true, true, true]|Female|48734406|MJ *Polydactyl*|              15656120|          AZ627|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:08:...|Medium|    Cat|adopted|2020-08-10T03:08:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, true, fal...|[true, Domestic S...|null|                [,,]|[[,, Phoenix, US,...|Ross is a very sw...|    null|  [true, true, true]|  Male|48734405|           Ross|              15622927|          AZ627|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:08:...|Medium|    Cat|adopted|2020-08-10T03:08:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[, false, false, ...|[true, Shepherd, ...|null|                [,,]|[[PO Box 93163,, ...|6 week old male, ...|    null|           [, true,]|  Male|48734398|      Wolverine|              15903404|         TX2186|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:07:...|Medium|    Dog|adopted|2020-08-10T03:07:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[, false, false, ...|[true, Shepherd, ...|null|                [,,]|[[PO Box 93163,, ...|6 week old male, ...|    null|           [, true,]|  Male|48734397|       Superman|              15903403|         TX2186|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T03:07:...|Medium|    Dog|adopted|2020-08-10T03:07:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[false, false, fa...|[false, Domestic ...|null|                [,,]|[[15321 Brand Bou...|                null|    null|                [,,]|  Male|48734390|        Coconut|              15711443|         CA1074|                  []|                 null|2020-08-10T03:06:...|Medium|    Cat|adopted|2020-08-10T03:06:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[false, false, fa...|[false, Domestic ...|null|                [,,]|[[15321 Brand Bou...|                null|    null|                [,,]|Female|48734391|         Cherry|              15711444|         CA1074|                  []|                 null|2020-08-10T03:06:...|Medium|    Cat|adopted|2020-08-10T03:06:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, false, fa...|[false, Domestic ...|null|[Black & White / ...|[[3141 West US 40...|You can fill out ...|    null|                [,,]|  Male|48734361|    Sir Mittens|       15743284-20F110|          IN353|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:54:...|Medium|    Cat|adopted|2020-08-10T02:54:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, true, fal...|[true, Domestic S...|null|                [,,]|[[,, Phoenix, US,...|                null|    null|  [true, true, true]|Female|48734360|           Zoey|              15555564|          AZ627|                  []|                 null|2020-08-10T02:53:...|Medium|    Cat|adopted|2020-08-10T02:53:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, true, fal...|[true, Domestic S...|null|                [,,]|[[,, Phoenix, US,...|Will looks just l...|    null|  [true, true, true]|  Male|48734359|           Will|              15554223|          AZ627|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:53:...|Medium|    Cat|adopted|2020-08-10T02:53:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Adult|[, false, false, ...|[true, Australian...|null|                [,,]|[[,, Houston, US,...|                null|    null|                [,,]|Female|48734356|           Katy|      15530531-20-0048|         TX2153|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:53:...|Medium|    Dog|adopted|2020-08-10T02:53:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[, false, false, ...|[true, Husky, Cat...|null|                [,,]|[[,, Phoenix, US,...|Dakota is a lovel...|    null|      [, true, true]|Female|48734355|         Dakota|              15887608|          AZ358|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:53:...| Large|    Dog|adopted|2020-08-10T02:53:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...|Young|[false, true, fal...|[true, Domestic S...|null|                [,,]|[[,, Phoenix, US,...|Wendall is just a...|    null|  [true, true, true]|  Male|48734309|        Wendall|              15554225|          AZ627|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:38:...|Medium|    Cat|adopted|2020-08-10T02:38:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...|Adult|[, false, true, t...|[true, Chihuahua,...|null|                [,,]|[[,, Aurora, US, ...|You can fill out ...|    null|                [,,]|Female|48734298|         Carmel|              15835319|          CO202|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:35:...| Small|    Dog|adopted|2020-08-10T02:35:...|  []| Dog|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[false, true, tru...|[false, Domestic ...|null|  [Orange & White,,]|[[,, Reisterstown...|Adopt Butters!
Bu...|    null|  [true, true, true]|  Male|48734268|        Butters|              15849580|          MD289|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:25:...| Small|    Cat|adopted|2020-08-10T02:25:...|  []| Cat|https://www.petfi...|    []|
|[[/v2/organizatio...| Baby|[, true, true, tr...|[true, Hound, Bla...|null|                [,,]|[[,, Houston, US,...|Steve is a 10 mon...|    null|  [true, true, true]|  Male|48734244|          Steve|      14935183-19-0101|         TX2153|[[https://dl5zpyw...| [https://dl5zpyw5...|2020-08-10T02:22:...| Large|    Dog|adopted|2020-08-10T02:22:...|  []| Dog|https://www.petfi...|    []|
+--------------------+-----+--------------------+--------------------+----+--------------------+--------------------+--------------------+--------+--------------------+------+--------+---------------+----------------------+---------------+--------------------+---------------------+--------------------+------+-------+-------+--------------------+----+----+--------------------+------+
only showing top 20 rows

In [9]:
# %%writefile initial_schema.py 
df.printSchema()

root
 |-- _links: struct (nullable = true)
 |    |-- organization: struct (nullable = true)
 |    |    |-- href: string (nullable = true)
 |    |-- self: struct (nullable = true)
 |    |    |-- href: string (nullable = true)
 |    |-- type: struct (nullable = true)
 |    |    |-- href: string (nullable = true)
 |-- age: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- declawed: boolean (nullable = true)
 |    |-- house_trained: boolean (nullable = true)
 |    |-- shots_current: boolean (nullable = true)
 |    |-- spayed_neutered: boolean (nullable = true)
 |    |-- special_needs: boolean (nullable = true)
 |-- breeds: struct (nullable = true)
 |    |-- mixed: boolean (nullable = true)
 |    |-- primary: string (nullable = true)
 |    |-- secondary: string (nullable = true)
 |    |-- unknown: boolean (nullable = true)
 |-- coat: string (nullable = true)
 |-- colors: struct (nullable = true)
 |    |-- primary: string (nullable = true)
 |    |-- secondary: string (nullable = true)
 |    |-- tertiary: string (nullable = true)
 |-- contact: struct (nullable = true)
 |    |-- address: struct (nullable = true)
 |    |    |-- address1: string (nullable = true)
 |    |    |-- address2: string (nullable = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- postcode: string (nullable = true)
 |    |    |-- state: string (nullable = true)
 |    |-- email: string (nullable = true)
 |    |-- phone: string (nullable = true)
 |-- description: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- environment: struct (nullable = true)
 |    |-- cats: boolean (nullable = true)
 |    |-- children: boolean (nullable = true)
 |    |-- dogs: boolean (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- organization_animal_id: string (nullable = true)
 |-- organization_id: string (nullable = true)
 |-- photos: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- full: string (nullable = true)
 |    |    |-- large: string (nullable = true)
 |    |    |-- medium: string (nullable = true)
 |    |    |-- small: string (nullable = true)
 |-- primary_photo_cropped: struct (nullable = true)
 |    |-- full: string (nullable = true)
 |    |-- large: string (nullable = true)
 |    |-- medium: string (nullable = true)
 |    |-- small: string (nullable = true)
 |-- published_at: string (nullable = true)
 |-- size: string (nullable = true)
 |-- species: string (nullable = true)
 |-- status: string (nullable = true)
 |-- status_changed_at: string (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- videos: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- embed: string (nullable = true)

In [10]:
# dogs = parts.map(lambda p: Row(id=p[0],
#  age=int(p[1].strip())))

In [32]:
df.na.drop().show()

+------+---+----------+------+----+------+-------+-----------+--------+-----------+------+---+----+----------------------+---------------+------+---------------------+------------+----+-------+------+-----------------+----+----+---+------+
|_links|age|attributes|breeds|coat|colors|contact|description|distance|environment|gender| id|name|organization_animal_id|organization_id|photos|primary_photo_cropped|published_at|size|species|status|status_changed_at|tags|type|url|videos|
+------+---+----------+------+----+------+-------+-----------+--------+-----------+------+---+----+----------------------+---------------+------+---------------------+------------+----+-------+------+-----------------+----+----+---+------+
+------+---+----------+------+----+------+-------+-----------+--------+-----------+------+---+----+----------------------+---------------+------+---------------------+------------+----+-------+------+-----------------+----+----+---+------+

In [31]:
df.count()

1400

In [82]:
df_breed = df.select('id', 'age', 'gender', 'breeds', 'description', \
                     'status', 'photos', 'status_changed_at', 'species', \
                     df.species.like("Dog"))

In [81]:
df.count()

1400

In [79]:
df_breed.count()

1400

In [76]:
df_clean_breed = df_breed.na.fill('DUMMY_TEXT').show()

+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|      id|  age|gender|              breeds|         description| status|              photos|   status_changed_at|species|species LIKE dog|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|48734452|Adult|  Male|[true, Chihuahua,...|Dexter is a cute ...|adopted|                  []|2020-08-10T03:39:...|    Dog|           false|
|48734448|Young|  Male|[false, Tabby,, f...|          DUMMY_TEXT|adopted|                  []|2020-08-10T03:38:...|    Cat|           false|
|48734449|Young|Female|[false, Domestic ...|          DUMMY_TEXT|adopted|                  []|2020-08-10T03:38:...|    Cat|           false|
|48734431|Young|Female|[false, Great Dan...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T03:23:...|    Dog|           false|
|48734430| Baby|  Male|[true, Domestic S...|HUBBLE is a super...|adopted|[[https://dl5zpyw...|2020-08-10T03:22:...|    Cat|           false|
|48734406|Young|Female|[true, Domestic S...|Hi. I&amp;#39;m M...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734405|Young|  Male|[true, Domestic S...|Ross is a very sw...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734398| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734397| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734390| Baby|  Male|[false, Domestic ...|          DUMMY_TEXT|adopted|                  []|2020-08-10T03:06:...|    Cat|           false|
|48734391| Baby|Female|[false, Domestic ...|          DUMMY_TEXT|adopted|                  []|2020-08-10T03:06:...|    Cat|           false|
|48734361|Young|  Male|[false, Domestic ...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:54:...|    Cat|           false|
|48734360|Young|Female|[true, Domestic S...|          DUMMY_TEXT|adopted|                  []|2020-08-10T02:53:...|    Cat|           false|
|48734359|Young|  Male|[true, Domestic S...|Will looks just l...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Cat|           false|
|48734356|Adult|Female|[true, Australian...|          DUMMY_TEXT|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Dog|           false|
|48734355|Young|Female|[true, Husky, Cat...|Dakota is a lovel...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Dog|           false|
|48734309|Young|  Male|[true, Domestic S...|Wendall is just a...|adopted|[[https://dl5zpyw...|2020-08-10T02:38:...|    Cat|           false|
|48734298|Adult|Female|[true, Chihuahua,...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:35:...|    Dog|           false|
|48734268| Baby|  Male|[false, Domestic ...|Adopt Butters!
Bu...|adopted|[[https://dl5zpyw...|2020-08-10T02:25:...|    Cat|           false|
|48734244| Baby|  Male|[true, Hound, Bla...|Steve is a 10 mon...|adopted|[[https://dl5zpyw...|2020-08-10T02:22:...|    Dog|           false|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
only showing top 20 rows

In [71]:
df_breed.show()

+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|      id|  age|gender|              breeds|         description| status|              photos|   status_changed_at|species|species LIKE dog|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|48734452|Adult|  Male|[true, Chihuahua,...|Dexter is a cute ...|adopted|                  []|2020-08-10T03:39:...|    Dog|           false|
|48734448|Young|  Male|[false, Tabby,, f...|                null|adopted|                  []|2020-08-10T03:38:...|    Cat|           false|
|48734449|Young|Female|[false, Domestic ...|                null|adopted|                  []|2020-08-10T03:38:...|    Cat|           false|
|48734431|Young|Female|[false, Great Dan...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T03:23:...|    Dog|           false|
|48734430| Baby|  Male|[true, Domestic S...|HUBBLE is a super...|adopted|[[https://dl5zpyw...|2020-08-10T03:22:...|    Cat|           false|
|48734406|Young|Female|[true, Domestic S...|Hi. I&amp;#39;m M...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734405|Young|  Male|[true, Domestic S...|Ross is a very sw...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734398| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734397| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734390| Baby|  Male|[false, Domestic ...|                null|adopted|                  []|2020-08-10T03:06:...|    Cat|           false|
|48734391| Baby|Female|[false, Domestic ...|                null|adopted|                  []|2020-08-10T03:06:...|    Cat|           false|
|48734361|Young|  Male|[false, Domestic ...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:54:...|    Cat|           false|
|48734360|Young|Female|[true, Domestic S...|                null|adopted|                  []|2020-08-10T02:53:...|    Cat|           false|
|48734359|Young|  Male|[true, Domestic S...|Will looks just l...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Cat|           false|
|48734356|Adult|Female|[true, Australian...|                null|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Dog|           false|
|48734355|Young|Female|[true, Husky, Cat...|Dakota is a lovel...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Dog|           false|
|48734309|Young|  Male|[true, Domestic S...|Wendall is just a...|adopted|[[https://dl5zpyw...|2020-08-10T02:38:...|    Cat|           false|
|48734298|Adult|Female|[true, Chihuahua,...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:35:...|    Dog|           false|
|48734268| Baby|  Male|[false, Domestic ...|Adopt Butters!
Bu...|adopted|[[https://dl5zpyw...|2020-08-10T02:25:...|    Cat|           false|
|48734244| Baby|  Male|[true, Hound, Bla...|Steve is a 10 mon...|adopted|[[https://dl5zpyw...|2020-08-10T02:22:...|    Dog|           false|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
only showing top 20 rows

In [72]:
df_breed_dropna = df_breed.na.drop()

In [73]:
df_breed_dropna.show()

+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|      id|  age|gender|              breeds|         description| status|              photos|   status_changed_at|species|species LIKE dog|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
|48734452|Adult|  Male|[true, Chihuahua,...|Dexter is a cute ...|adopted|                  []|2020-08-10T03:39:...|    Dog|           false|
|48734431|Young|Female|[false, Great Dan...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T03:23:...|    Dog|           false|
|48734430| Baby|  Male|[true, Domestic S...|HUBBLE is a super...|adopted|[[https://dl5zpyw...|2020-08-10T03:22:...|    Cat|           false|
|48734406|Young|Female|[true, Domestic S...|Hi. I&amp;#39;m M...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734405|Young|  Male|[true, Domestic S...|Ross is a very sw...|adopted|[[https://dl5zpyw...|2020-08-10T03:08:...|    Cat|           false|
|48734398| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734397| Baby|  Male|[true, Shepherd, ...|6 week old male, ...|adopted|[[https://dl5zpyw...|2020-08-10T03:07:...|    Dog|           false|
|48734361|Young|  Male|[false, Domestic ...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:54:...|    Cat|           false|
|48734359|Young|  Male|[true, Domestic S...|Will looks just l...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Cat|           false|
|48734355|Young|Female|[true, Husky, Cat...|Dakota is a lovel...|adopted|[[https://dl5zpyw...|2020-08-10T02:53:...|    Dog|           false|
|48734309|Young|  Male|[true, Domestic S...|Wendall is just a...|adopted|[[https://dl5zpyw...|2020-08-10T02:38:...|    Cat|           false|
|48734298|Adult|Female|[true, Chihuahua,...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-10T02:35:...|    Dog|           false|
|48734268| Baby|  Male|[false, Domestic ...|Adopt Butters!
Bu...|adopted|[[https://dl5zpyw...|2020-08-10T02:25:...|    Cat|           false|
|48734244| Baby|  Male|[true, Hound, Bla...|Steve is a 10 mon...|adopted|[[https://dl5zpyw...|2020-08-10T02:22:...|    Dog|           false|
|48727608| Baby|Female|[true, Australian...|You can fill out ...|adopted|                  []|2020-08-09T03:02:...|    Dog|           false|
|48727582|Young|Female|[true, Labrador R...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-09T02:47:...|    Dog|           false|
|48727583|Young|Female|[false, Australia...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-09T02:47:...|    Dog|           false|
|48727581|Young|  Male|[true, Treeing Wa...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-09T02:47:...|    Dog|           false|
|48727511| Baby|  Male|[true, German She...|***Thank you for ...|adopted|[[https://dl5zpyw...|2020-08-09T02:19:...|    Dog|           false|
|48727503|Young|Female|[true, Maltese, P...|You can fill out ...|adopted|[[https://dl5zpyw...|2020-08-09T02:17:...|    Dog|           false|
+--------+-----+------+--------------------+--------------------+-------+--------------------+--------------------+-------+----------------+
only showing top 20 rows

In [59]:
df_breed_dropna.count()

1137

In [60]:
df_breed_dropna.printSchema()

root
 |-- id: long (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- breeds: struct (nullable = true)
 |    |-- mixed: boolean (nullable = true)
 |    |-- primary: string (nullable = true)
 |    |-- secondary: string (nullable = true)
 |    |-- unknown: boolean (nullable = true)
 |-- description: string (nullable = true)
 |-- status: string (nullable = true)
 |-- photos: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- full: string (nullable = true)
 |    |    |-- large: string (nullable = true)
 |    |    |-- medium: string (nullable = true)
 |    |    |-- small: string (nullable = true)
 |-- status_changed_at: string (nullable = true)
 |-- species: string (nullable = true)

In [61]:
# dropped_df.createOrReplaceTempView("dog_data")
df_breed_dropna.createOrReplaceTempView("breed_data")

In [64]:
result = spark.sql('''SELECT gender, breeds,age, status, species,
                        COUNT(*) AS Number
                        FROM breed_data
                        GROUP BY gender, breeds, age, status, species
                        ORDER BY COUNT(*) desc''')
result.show(20)

+------+--------------------+-----+-------+-------+------+
|gender|              breeds|  age| status|species|Number|
+------+--------------------+-----+-------+-------+------+
|  Male|[true, Domestic S...| Baby|adopted|    Cat|    37|
|  Male|[true, Terrier, C...|Young|adopted|    Dog|    30|
|  Male|[false, Domestic ...| Baby|adopted|    Cat|    28|
|Female|[true, Domestic S...| Baby|adopted|    Cat|    22|
|  Male|[true, Labrador R...|Young|adopted|    Dog|    20|
|  Male|[false, Domestic ...|Young|adopted|    Cat|    18|
|Female|[true, Chihuahua,...|Young|adopted|    Dog|    17|
|  Male|[true, Domestic S...|Young|adopted|    Cat|    17|
|Female|[false, Domestic ...| Baby|adopted|    Cat|    17|
|Female|[true, Poodle,, f...|Young|adopted|    Dog|    16|
|Female|[true, Shepherd,,...|Young|adopted|    Dog|    15|
|Female|[true, Siamese,, ...| Baby|adopted|    Cat|    15|
|  Male|[true, Siamese,, ...| Baby|adopted|    Cat|    14|
|  Male|[false, Domestic ...|Adult|adopted|    Cat|    13|
|  Male|[true, Pit Bull T...| Baby|adopted|    Dog|    12|
|  Male|[true, German She...| Baby|adopted|    Dog|    11|
|  Male|[true, Yorkshire ...|Young|adopted|    Dog|    10|
|Female|[true, Maltese, P...|Young|adopted|    Dog|    10|
|Female|[false, Husky,, f...|Young|adopted|    Dog|    10|
|Female|[true, Jack Russe...|Adult|adopted|    Dog|     9|
+------+--------------------+-----+-------+-------+------+
only showing top 20 rows

In [51]:
result = spark.sql('''SELECT gender, 
                            age,
                            COUNT(*) AS Count
                        FROM dog_data
                        GROUP BY gender, age
                        ORDER BY count desc''')
result.show(20)

AnalysisException: Table or view not found: dog_data; line 4 pos 29;
'Sort ['count DESC NULLS LAST], true
+- 'Aggregate ['gender, 'age], ['gender, 'age, count(1) AS Count#1559L]
   +- 'UnresolvedRelation [dog_data]

In [ ]:
result.show()

In [ ]:
result.head(20)

In [ ]:
plot_breed = result.toPandas()
plot_breed['Number']
plot_breed.dropna(inplace=True)

In [ ]:
plot_breed

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(10,3))
ax.bar(x = plot_gender['age'], height=plot_gender['Count'])
ax.set_title("Count of Dogs by Gender")

ax.set_xlabel('Gender')
ax.set_ylabel('Number of Dogs')
plt.tight_layout()
plt.show()

In [ ]:

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
matplotlib.rc('xtick', labelsize=16) 
matplotlib.rc('ytick', labelsize=16)
plt.close('all')
N = 4
menMeans = (25001, 2620, 5000, 0)
womenMeans = (2623, 17379, 22375, 1)
menStd = (1, 1, 1, 100)
womenStd = (1, 1, 1, 100)
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width, yerr=menStd, color=['pink'])
p2 = plt.bar(ind, womenMeans, width,bottom=menMeans, yerr=womenStd, color=['blue'])

plt.ylabel('Number of Dogs', fontsize=17)
plt.title('Dogs In Shelters By Age and Gender', fontsize=18)
plt.xticks(ind, ('Baby', 'Young', 'Adult', 'Senior'))
plt.yticks(np.arange(0, 35000, 10000))
plt.figtext(0.8, 0.25, 
            "1 Senior", 
            horizontalalignment ="center",  
            verticalalignment ="center",  
            wrap = True, fontsize = 14,  
            color ="black") 
plt.figtext(0.8, 0.19, 
            "Female", 
            horizontalalignment ="center",  
            verticalalignment ="center",  
            wrap = True, fontsize = 14,  
            color ="black") 
plt.legend((p1[0], p2[0]), ('Female', 'Male'))

plt.show()
plt.savefig('../src/readme/by_age_and_gender');

In [ ]:

plt.figtext(0.55, 0.7, 
            "1 Senior Female", 
            horizontalalignment ="right",  
            verticalalignment ="center",  
            wrap = True, fontsize = 14,  
            color ="black") 



import numpy as np
import matplotlib.pyplot as plt


N = 5
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
menStd = (2, 3, 4, 1, 2)
womenStd = (3, 5, 2, 3, 3)
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width, yerr=menStd)
p2 = plt.bar(ind, womenMeans, width,
             bottom=menMeans, yerr=womenStd)

plt.ylabel('Scores')
plt.title('Scores by group and gender')
plt.xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Men', 'Women'))

plt.show()